# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Private key of your GitHub App, you can download it from the app's settings
PRIVATE_KEY= # For value of this variable, please refer to the following link awk '{printf "%s\\n", $0}' private-key.pem
PRIVATE_KEY_PATH= # For path of private key

# Session GPT Token
SESSION_TOKEN=