version: '3'
services:
  github-bot:
    container_name: octocatgpt
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    restart: always
    command: ['pnpm', 'dev']
